html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
	background-image: url("show_map.png");
    background-repeat: no-repeat;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}
